controller_manager:
  ros__parameters:
    update_rate: 100

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    steering_controller:
      type: forward_command_controller/ForwardCommandController

    throttle_controller:
      type: forward_command_controller/ForwardCommandController

joint_state_broadcaster:
  ros__parameters:
    publish_rate: 50.0

steering_controller:
  ros__parameters:
    joints:
      - front_left_steer_joint
      - front_right_steer_joint
    interface_name: position

throttle_controller:
  ros__parameters:
    joints:
      - rear_left_wheel_joint
      - rear_right_wheel_joint
    interface_name: velocity
