# SYD Dynamics TransducerM TM171 IMU (STM Virtual COM Port)
SUBSYSTEM=="tty", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740", SYMLINK+="exia_imu", MODE="0666"
