# Lynxmotion LSS-ADA v1.2 (CH340 USB-serial)
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", SYMLINK+="lss_controller", MODE="0666"
